[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
	process = git-lfs filter-process
[user]
	name = Yukiinoue
	email = yuki.inoue@befool.co.jp
[core]
	editor=/usr/bin/vim
	excludesfile = /Users/yukiinoue/.gitignore_global

[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	g = git
	st = status
	cm = commit
	df = diff
  co = checkout
  n = now --all --stat

